<!DOCTYPE html>
<html>
<head>
  <title>Project Idea Compendium</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header"><h1>The Idea Box</h1></div>
	

<div class="container_12">
<div id="nav">
<%= link_to("New User", {:controller => "users", :action => "new"})  %> 
<br />
<%= link_to("Users", {:controller => "users", :action => "index"})  %> 
<br />
<%= link_to("Posts", {:controller => "posts", :action => "index"})  %> 
<br />
<a href="http://www.ryanwebworks.com/aboutrails.html" target="_blank">About</a>
<br />
<%= link_to("Log In Here", {:controller => "access", :action => "login"}) %> 
</div>



  	

<%= yield %>
</div>
</div>
</body>
</html>
